@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-12">
        <h2>Contact</h2>
        <p>
            Any questions, you can get in touch here simon AT beaconsfieldsoftware DOT com
        </p>
    </div>
</div>