@{
    ViewBag.Title = "FAQ";
}

<div class="row">
    <div class="col-md-12">
        <h2>FAQ</h2>
        <h3>What is all this?</h3>
        <p>
            My child's school distribute an enormous <a href="http://en.wikipedia.org/wiki/ICalendar">ical</a> file containing diary events
            for the whole school. If you import it into your calendar you end up with school events all over every day. This site allows you to
            filter the calendar entries for just the events you are interested.
        </p>
        <h3>Is it ok to distribute your schoool's calendar?</h3>
        <p>
            The school publishes all these calendar events on their own public website, so it's all public information. I'm also
            being a little coy about the name of the school.
        </p>
        <h3>Is it safe to download this file on to my computer?</h3>
        <p>
            Well, that's a trust thing isn't it? The website code is all <a href="https://github.com/simonneedham/filter-school-cal">here for you to review</a>
            if you understand that kind of stuff. If you know me then you can make an informed decision. If you got forwarded this site
            from another parent you could ask a bit more from the person that sent you the link. If you just arrived here randomly from
            the internet, then no you've no need to be downloading random ical files.
        </p>
    </div>
</div>