@model FilterSchoolCal.Web.ViewModels.HomeViewModel
@using FilterSchoolCal.Web.Properties

@{
    ViewBag.Title = "Make my iCal";
}

<div class="row">
    <div class="col-md-12">
        <h2>Make my iCal</h2>
        <p>
            This web site allows you to filter the School's giant iCal file by year and a few major sports, shrinking it down so that when you
            import it into your calendar you don't have School events on every day.
        </p>
        <p>
            <div class="alert alert-info">
                <strong>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
                    Calendar Term:&nbsp;
                </strong>
                @Model.CalendarName
            </div>
        </p>
    </div>
</div>

@using(Html.BeginForm("Events", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
<div class="row">
    <div class="col-md-12">
        <h2>What School topics are you interested in?</h2>
    </div>
</div>

<div class="row">
    @for (var i = 0; i < Model.Groups.Count; i++)
    {
        if(i % 2 == 0 || i == Model.Groups.Count)
        {
            @:<div class="col-md-2">
        }
        else
        {
            @:&nbsp;&nbsp;&nbsp;
        }

        <div class="checkbox">
            <label>
                @Html.HiddenFor(modelItem => modelItem.Groups[i].Name)
                @Html.CheckBoxFor(modelItem => modelItem.Groups[i].Selected) @Model.Groups[i].Name
            </label>
        </div>

        if(i % 2 != 0 || i == Model.Groups.Count)
        {
            @:</div>
        }
    }
</div>
<div class="row"><div class="col-md-12">&nbsp;</div></div>
<div class="row">
    <div class="col-md-2" style="padding-left:30px;">
        <input type="submit" class="btn btn-info" value="Select Events by Topic" />
    </div>
    <div class="col-md-10">
        &nbsp;
    </div>
</div>
}
